<div class="position-sticky" style="top: 2rem;">

    {% if is_home %}
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">About</h4>
        <p class="mb-0">このブログでは、エンジニアの筆者がIT関連の知見に触れ、「すげえ」、「勉強になった」と思ったことを書いていきます。</p>
    </div>

    <div class="p-4">
        <h4 class="fst-italic">Archives</h4>
        <ol class="mb-0">
            {% for article in articles %}
            <li><a href="{% url 'article' article_id=article.pk  %}">{{ article.article_title }}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% else %}
    <div class="p-4 mb-3 bg-light rounded">
        <h4 class="fst-italic">Overview</h4>
        <p class="mb-0">{{ blog_overview }}</p>
    </div>

    <div class="p-4">
        <h4 class="fst-italic">Index</h4>
        <ol class="mb-0">
            {% for section in section_list %}
            <li><a href="#{{ section }}">{{ section }}</a></li>
            {% endfor %}
        </ol>
    </div>
    {% endif %}


    <div class="p-4">
        <h4 class="fst-italic">Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <!-- <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li> -->
        </ol>
    </div>
</div>