<div class="markdown-preview-sizer markdown-preview-section" style="padding-bottom: 537px; min-height: 4026px;">
    <div class="markdown-preview-pusher" style="width: 1px; height: 0.1px; margin-bottom: 49px;"></div>
    <div>
        <h1 data-heading="Python環境のセットアップ手順">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>Python環境のセットアップ手順
        </h1>
    </div>
    <div>
        <p><a href="#Python" class="tag" target="_blank" rel="noopener">#Python</a> <a href="#Poetry" class="tag"
                target="_blank" rel="noopener">#Poetry</a> <a href="#pip" class="tag" target="_blank"
                rel="noopener">#pip</a> <a href="#pipx" class="tag" target="_blank" rel="noopener">#pipx</a> </p>
    </div>
    <div>
        <h2 data-heading="Python環境のセットアップ概要">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>Python環境のセットアップ概要
        </h2>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <p>Pythonの環境のセットアップには以下のソフトウェアのインストールが必要です。<br>
            失敗しないように一つずつ確実にインストールしていきます。</p>
    </div>
    <div>
        <ul class="contains-task-list has-list-bullet">
            <li data-line="0" data-task="" class="task-list-item">
                <div class="list-bullet"></div><input data-line="0" type="checkbox"
                    class="task-list-item-checkbox">Python
            </li>
            <li data-line="1" data-task="" class="task-list-item">
                <div class="list-bullet"></div><input data-line="1" type="checkbox" class="task-list-item-checkbox">pip
            </li>
            <li data-line="2" data-task="" class="task-list-item">
                <div class="list-bullet"></div><input data-line="2" type="checkbox" class="task-list-item-checkbox">pipx
            </li>
            <li data-line="3" data-task="" class="task-list-item">
                <div class="list-bullet"></div><input data-line="3" type="checkbox"
                    class="task-list-item-checkbox">poetry
            </li>
        </ul>
    </div>
    <div>
        <h2 data-heading="Python環境のセットアップ手順">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>Python環境のセットアップ手順
        </h2>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <h3 data-heading="1. **Python**のインストール">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>1. <strong>Python</strong>のインストール
        </h3>
    </div>
    <div>
        <p><a data-tooltip-position="top"
                aria-label="https://realpython.com/installing-python/#how-to-install-from-the-full-installer"
                rel="noopener" class="external-link"
                href="https://realpython.com/installing-python/#how-to-install-from-the-full-installer"
                target="_blank">how-to-install-from-the-full-installer</a> に従いインストールを行う</p>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="caution" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-alert-triangle">
                        <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                        <path d="M12 9v4"></path>
                        <path d="M12 17h.01"></path>
                    </svg></div>
                <div class="callout-title-inner">環境変数の設定の仕方がわからないときは有識者に確認してください。</div>
            </div>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <h3 data-heading="2. **pip**のインストール">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>2. <strong>pip</strong>のインストール
        </h3>
    </div>
    <div>
        <p>以下のコマンドを実行（詳細は<a data-tooltip-position="top" aria-label="https://pip.pypa.io/en/stable/installation/"
                rel="noopener" class="external-link" href="https://pip.pypa.io/en/stable/installation/"
                target="_blank">こちら</a>）</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="is-loaded language-shell"><span>py -m ensurepip --upgrade</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="tips" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-pencil">
                        <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"></path>
                        <path d="m15 5 4 4"></path>
                    </svg></div>
                <div class="callout-title-inner">Tips</div>
            </div>
            <div class="callout-content">
                <p>基本的にpipはPythonをインストールした際に一緒にインストールされます<br>
                    <strong>Requirement already satisfied: pip in ...</strong><br>
                    のような文言が表示されている場合はインストール済みですので、<br>
                    次の手順に移ってください。
                </p>
            </div>
        </div>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <h3 data-heading="3. **pipx**のインストール">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>3. <strong>pipx</strong>のインストール
        </h3>
    </div>
    <div>
        <p>以下のコマンドを実行（詳細は<a data-tooltip-position="top"
                aria-label="https://pipx.pypa.io/stable/installation/#on-windows" rel="noopener" class="external-link"
                href="https://pipx.pypa.io/stable/installation/#on-windows" target="_blank">こちら</a>）</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="is-loaded language-shell"><span>span>py -m pip install --user pipx</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <p>依存関係のあるソフトウェアのダウンロードが走る</p>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="info" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-info">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M12 16v-4"></path>
                        <path d="M12 8h.01"></path>
                    </svg></div>
                <div class="callout-title-inner">最後に以下のような文言が出ていればOK</div>
            </div>
            <div class="callout-content">
                <p>WARNING: The script pipx.exe is installed in
                    <code>&lt;USER folder&gt;\AppData\Roaming\Python\Python3x\Scripts</code> which is not on PATH</p>
            </div>
        </div>
    </div>
    <div>
        <p><code>...\AppData\Roaming\Python\Python3x\Scripts\Scripts</code>の部分をコピーし<br>
            以下のコマンドを実行</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="is-loaded language-shell"><span>cd ...\AppData\Roaming\Python\Python3x\Scripts\Scripts</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <p><code>ls</code>コマンドなどで<code>pipx.exe</code>があることを確認し、以下のコマンドを実行</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="is-loaded language-shell"><span>.\pipx.exe ensurepath</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <h3 data-heading="4. **poetry**のインストール">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>4. <strong>poetry</strong>のインストール
        </h3>
    </div>
    <div>
        <p>以下のコマンドを実行（詳細は<a data-tooltip-position="top"
                aria-label="https://python-poetry.org/docs/#installing-with-pipx" rel="noopener" class="external-link"
                href="https://python-poetry.org/docs/#installing-with-pipx" target="_blank">こちら</a>）</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="is-loaded language-shell"><span>pipx install poetry</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="is-loaded language-shell"><span>span>py -m pip install --user -U pipx</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="info" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-info">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M12 16v-4"></path>
                        <path d="M12 8h.01"></path>
                    </svg></div>
                <div class="callout-title-inner">最後に以下のような文言が出ていればOK</div>
            </div>
            <div class="callout-content">
                <p>done! ✨ 🌟 ✨</p>
            </div>
        </div>
    </div>
    <div>
        <h2 data-heading="次のステップ">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>次のステップ
        </h2>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <p>上記までで、python環境の構築は完了です！<br>
            プロジェクト名などが決まっている方は<br>
            次のpoetry環境の構築までやってしまいましょう！</p>
    </div>
    <div>
        <hr>
    </div>
    <div>
        <h3 data-heading="1. Poetryプロジェクトの作成">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>1. Poetryプロジェクトの作成
        </h3>
    </div>
    <div>
        <p>まだディレクトリがない場合は以下を実行<br>
            ※my-projectは任意のプロジェクト名に変更してください。</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="language-shell is-loaded"><span>poetry new my-project</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <p>既存のディレクトリをpoetry環境化する場合は以下のコマンドを実行</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="language-shell is-loaded"><span>poetry init</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="caution" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-alert-triangle">
                        <path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3Z"></path>
                        <path d="M12 9v4"></path>
                        <path d="M12 17h.01"></path>
                    </svg></div>
                <div class="callout-title-inner">必ずPoetry環境化したいディレクトリに移動してから実行してください</div>
            </div>
        </div>
    </div>
    <div>
        <p>コマンド実行時にいろいろ尋ねるプロンプトが出てきますが、<br>
            すべてEnterを押してください。</p>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="info" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-info">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M12 16v-4"></path>
                        <path d="M12 8h.01"></path>
                    </svg></div>
                <div class="callout-title-inner">実行完了後 <code>poetry.toml</code> というファイルが生成されます。</div>
            </div>
        </div>
    </div>
    <div>
        <h3 data-heading="2. 依存関係の追加&amp;インストール">
            <div class="heading-collapse-indicator collapse-indicator collapse-icon"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="svg-icon right-triangle">
                    <path d="M3 8L12 17L21 8"></path>
                </svg></div>2. 依存関係の追加 and インストール
        </h3>
    </div>
    <div>
        <p>プロジェクトに必要な依存関係を追加<br>
            ※以下は<code>Flask</code>をインストールする例です。</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="language-shell is-loaded"><span>poetry add flask</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
    <div>
        <div data-callout-metadata="" data-callout-fold="" data-callout="tips" class="callout">
            <div class="callout-title">
                <div class="callout-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="svg-icon lucide-pencil">
                        <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z"></path>
                        <path d="m15 5 4 4"></path>
                    </svg></div>
                <div class="callout-title-inner">Tips</div>
            </div>
            <div class="callout-content">
                <p>「依存関係ってなに？」と思った方は、<br>
                    現時点では「Poetryで作成した仮想環境にライブラリを追加する」<br>
                    というイメージを持っておくとよいです。</p>
            </div>
        </div>
    </div>
    <div>
        <p>依存関係をインストールpoetry環境へインストール</p>
    </div>
    <div>
        <pre class="language-shell" tabindex="0"><code class="language-shell is-loaded"><span>poetry install</span>
    </code><button class="copy-code-button">コピー</button></pre>
    </div>
</div>